@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Noto+Sans+JP:wght@100&family=Playfair+Display&family=Roboto:wght@400;900&display=swap');

.container {
    display: flex;
    flex-direction: column;
}

section {
    padding: 6px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'PlayFair Display', sans-serif;
}

.container>* {
    margin: 1%;
    height: fit-content;
}

html {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
    /* background-image: url("melindak-kepek/terhesno_hatter_fako.png");
    background-size: cover;
    position: absolute;
    background-repeat:repeat; */
}

.idopontf {
    /* padding: 0px;
    margin: 0px;  */
    background: url(melindak-kepek/terhesno_hatter_fako.png)no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


html {
    background: url(melindak-kepek/terhesno_hatter_fako.png) repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    /* position: absolute;
    background-repeat:repeat; */

}

header {
    margin: 0 !important;
    /* background-color: #ff7c9f; */
    background-color: rgba(255, 124, 159, 0.3);
    border-radius: 7px;
    padding: 5px;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: large;
}

/* menü */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 100%;
    background-color: rgba(242, 1, 122, 0.15);
    padding: 15px;
    border-radius: 15px;
    justify-content: space-evenly;
}

nav div {
    list-style-type: none;
    padding: 2px;
}

nav div a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: larger;
}

.active {
    background-color: rgba(255, 124, 159, 0.3);
    border-radius: 7px;
    padding: 5px;
}

.aside_kepe1 {
    /* display: block; */
    display: flex;
    width: 200px;
    height: auto;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    flex: 100%;

}

.aside_kepe2 {
    /* display: block; */
    display: flex;
    width: 200px;
    height: auto;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    float: inline-end;
    flex: 100%;
}

/* p */

.fekete {
    color: black;
    font-weight: bold;
}

article,
aside {
    background-color: rgba(189, 52, 0, 0.05);
    padding: 15px;
    border-radius: 15px;
}

table {
    border: black;
    width: 100%;
}

#images {
    width: 95%;
}

.galleria-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    width: 500px;
    text-align: center;
}

.kuzusok {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* naptár css */
.wrapper{
    width: 450px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  }
  .wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
  }
  header .icons{
    display: flex;
  }
  header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
  }
  .icons span:last-child{
    margin-right: -10px;
  }
  header .icons span:hover{
    background: #f2f2f2;
  }
  header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
  }
  .calendar{
    padding: 20px;
  }
  .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  .calendar .days{
    margin-bottom: 20px;
  }
  .calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
  }
  .calendar .weeks li{
    font-weight: 500;
    cursor: default;
  }
  .calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
  }
  .days li.inactive{
    color: #aaa;
  }
  .days li.active{
    color: #fff;
  }
  .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  /* .days li.active::before{
    background: #9B59B6;
  } */
  .days li:not(.active):hover::before{
    background: #f2f2f2;
  }

@media all and (min-width: 0px) and (max-width: 599px) {
    /* mobil */

    nav {
        flex-direction: column;
        text-align: center;
    }

    .galleria-container {
        width: 100%;
    }
}

@media all and (min-width: 600px) {

    /*tablet*/
    .aside_kepe1 {
        margin: 20px;
        float: left;
        flex: 48%;
    }

    .aside_kepe2 {
        margin: 20px;
        float: right;
        flex: 48%;
    }
}

@media all and (min-width: 768px) {

    /*számítógép*/
    .aside_kepe1 {
        margin: 20px;
        float: left;
    }

    .aside_kepe2 {
        margin: 20px;
        float: right;
    }

}